<div class="row justify-content-center">
  <%= form_with(scope: :session, model: @user, url: login_path, local: true, class: "mt-4 form-column-width", html: {novalidate: false}) do |f| %>

    <div class="mb-3">
      <%= f.label :email, class: "form-label fw-bold"%>
      <div class="input-group shadow-sm rounded">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-envelope"></i>
        </span>
        <%= f.email_field :email, class: "form-control", placeholder: "Eメールアドレスを入力してください" %>
      </div>
    </div>

    <div class="mb-2">
      <%= f.label :password, class: "form-label fw-bold"%>
      <div class="input-group shadow-sm rounded">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-key-fill"></i>
        </span>
        <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        ログイン状態を保持する
      </label>
    </div>

    <%= f.submit "ログイン", class: "btn btn-primary" %>

  <% end %>
</div>
