<div class="row justify-content-center">
  <%= form_with(model: @user, local: true, class: "mt-4 form-column-width") do |f| %>

    <div class="mb-3">
      <%= f.label :name, class: "form-label fw-bold"%>
      <span class="text-danger">*</span>
      <%= f.text_field :name, placeholder: "ユーザー名を入力してください", class: "form-control"%>
    </div>

    <%= f.label :gender, class: "form-label fw-bold"%>
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "男性" ,class: "form-check-input"%>
        <%= f.label "男性", class: "form-check-label"%>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "女性" ,class: "form-check-input"%>
        <%= f.label "女性", class: "form-check-label"%>
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label fw-bold"%>
      <span class="text-danger">*</span>
      <%= f.email_field :email, class: "form-control", placeholder: "Eメールアドレスを入力してください" %>
      <div id="emailHelp" class="form-text">※アカウント認証確認メールを送信する為、必ず実際に使えるメールアドレスをご使用ください</div>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label fw-bold"%>
      <span class="text-danger">*</span>
      <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
      <div id="emailHelp" class="form-text">※6文字以上の英数字を入力してください</div>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label fw-bold"%>
      <span class="text-danger">*</span>
      <%= f.password_field :password, class: "form-control", placeholder: "パスワードをもう一度入力してください" %>
    </div>

    <%= f.submit class: "btn btn-primary" %>

  <% end %>
</div>
