<div class="row justify-content-center">
  <%= form_with(model: @user, local: true, class: "mt-4 form-column-width", id: "userForm") do |f| %>

<!--    <% if @user.new_record? %>
    <%#----- アカウントタイプ ------%>
      <%= f.label :account_type, class: "form-label fw-bold"%>
      <span class="text-danger">*</span><br>
      <div class="btn-group <%= @user.errors.include?(:account_type) ? "validation_errors" : "" %>" role="group" aria-label="Basic radio toggle button group">
        <%= f.radio_button :account_type, "nomal" ,class: "btn-check", id: "btnradio1"%>
        <%= f.label "一般ユーザー", class: "btn btn-outline-primary", for: "btnradio1"%>

        <%= f.radio_button :account_type, "host" ,class: "btn-check", id: "btnradio3"%>
        <%= f.label "ホストファミリー", class: "btn btn-outline-primary", for: "btnradio3" %>
      </div>
      <%= render 'layouts/error_messages',class: "invalid-feedback", obj: @user, key: :account_type %>
    <% end %> -->

    <%#----- ユーザー名 ------%>
    <div class="mt-3 mb-3 <%= @user.errors.include?(:name) ? "validation_errors" : "" %>", id="userName">
      <%= f.label :name, class: "form-label fw-bold"%>
      <span class="text-danger">*</span>
      <div class="input-group shadow-sm rounded">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-person-circle"></i>
        </span>
        <%= f.text_field :name, placeholder: "ユーザー名を入力してください", class: "form-control"%>
      </div>
      <%= render 'layouts/error_messages',class: "invalid-feedback", obj: @user, key: :name %>
    </div>

    <%#----- 性別 ------%>
    <%= f.label :gender, class: "form-label fw-bold"%>
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "男性" ,class: "form-check-input"%>
        <%= f.label "男性", class: "form-check-label"%>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :gender, "女性" ,class: "form-check-input"%>
        <%= f.label "女性", class: "form-check-label"%>
      </div>
    </div>

    <%#----- プロフィール画像 ------%>
    <% if !@user.new_record? %>
      <div class="mt-3 mb-5 <%= @user.errors.include?(:avatar) ? "validation_errors" : "" %>">
        <%#----- 画像の添付 ------%>
        <%= f.label :avatar, '画像(5MBまで)', class: "form-label fw-bold" %><br>
        <%= f.file_field :avatar, onchange: "avatarImage(this);", accept: "image/jpeg,image/gif,image/png", class: "mb-3" %>
        <%= render 'layouts/error_messages',class: "invalid-feedback", obj: @user, key: :avatar %>
        <%#----- 現在登録されている画像を表示(チェックしたものを削除) ------%>
        <div id="avatar" >
          <img id="avatar_preview" class="mb-3" width="100">
        </div>
        <% if @user.avatar.present? %>
          <span><b>[現在登録されている画像]</b></span>
          <p class="text-danger font09">※削除する場合は画像にチェックしてから更新してください</p>
          <br>
          <div class="form-check">
            <%= f.check_box :image_id, {class: "form-check-input", id: "avatar-check"}, @user.avatar.id, false %>
            <label class="form-check-label" for="avatar-check">
              <%= image_tag @user.avatar, width: 200, class: "mb-2" %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>

    <%#----- 自己紹介 ------%>
    <% if !@user.new_record? %>
      <div class="mb-3 <%= @user.errors.include?(:content) ? "validation_errors" : "" %>">
        <%= f.label :content, class: "form-label fw-bold"%>
        <div class="input-group shadow-sm rounded">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-card-text"></i>
          </span>
          <%= f.text_area :content, placeholder: "自己紹介文を入力してください", class: "form-control", rows: 8 %>
        </div>
        <%= render 'layouts/error_messages',class: "invalid-feedback", obj: @user, key: :content %>
      </div>
    <% end %>

    <% if @user.new_record? %>
      <%#----- メールアドレス ------%>
      <div class="mb-3 <%= @user.errors.include?(:email) ? "validation_errors" : "" %>" id="userEmail">
        <%= f.label (@user.new_record? ? :email : "メールアドレス(変更できません)"), class: "form-label fw-bold"%>
        <span class="text-danger">*</span>
        <div class="input-group shadow-sm rounded">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-envelope"></i>
          </span>
          <%= f.email_field :email, class: "form-control", placeholder: "Eメールアドレスを入力してください" %>
        </div>
        <div id="emailHelp" class="form-text text-primary">※アカウント認証確認メールを送信する為、必ず実際に使えるメールアドレスをご使用ください</div>
        <%= render 'layouts/error_messages',class: "invalid-feedback", obj: @user, key: :email %>
      </div>

      <%#----- パスワード ------%>
      <div class="mb-3 <%= @user.errors.include?(:password) ? "validation_errors" : "" %>" id="userPassword">
        <%= f.label :password, class: "form-label fw-bold"%>
        <span class="text-danger">*</span>
        <div class="input-group shadow-sm rounded">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-key-fill"></i>
          </span>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
        </div>
        <div id="emailHelp" class="form-text text-primary">※6文字以上の半角英数字を入力してください</div>
        <%= render 'layouts/error_messages', obj: @user, key: :password %>
      </div>

      <%#----- パスワード(確認用) ------%>
      <div class="mb-3 <%= @user.errors.include?(:password_confirmation) ? "validation_errors" : "" %>" id="userPasswordConfirmation">
        <%= f.label :password_confirmation, class: "form-label fw-bold"%>
        <span class="text-danger">*</span>
        <div class="input-group shadow-sm rounded">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-key-fill"></i>
          </span>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワードをもう一度入力してください" %>
        </div>
        <%= render 'layouts/error_messages', obj: @user, key: :password_confirmation %>
      </div>
    <% end %>

    <%#----- 送信(更新)ボタン ------%>
    <%= f.submit class: "btn btn-primary mb-4", id: "userSubmit" %>

  <% end %>
</div>


<!-- アカウント削除のモーダル表示 -->
<% if !@user.new_record? %>
<div class="modal fade" id="accountDeleteModal" tabindex="-1" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountDeleteModalLabel">確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        このアカウントを本当に削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <%= button_to "OK", user_path(@user), class: "btn btn-danger", method: :delete %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%#----- バリデーション用の JavaScript ------%>
<%= render "form_validation" %>


<%#----- プレビュー表示の JavaScript（プロフィール編集時） ------%>
<% if !@user.new_record? %>
  <script>
    function avatarImage(obj){
        var fileReader = new FileReader();
        fileReader.onload = (function() {
          document.getElementById('avatar_preview').src = fileReader.result;
        });
        fileReader.readAsDataURL(obj.files[0]);
    }
  </script>
<% end %>
