<h1 class="text-center">アカウント設定</h1>
<div class="row justify-content-center">
  <%= form_with(scope: :account, model: @user, url: account_path(params[:account_name]), local: true, class: "mt-4 form-column-width") do |f| %>

    <%#----- メールアドレス ------%>
    <div class="mb-3 <%= @user.errors.include?(:email) ? "validation_errors" : "" %>">
      <%= f.label (@user.new_record? ? :email : "メールアドレス(変更できません)"), class: "form-label fw-bold"%>
      <div class="input-group shadow-sm rounded">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-envelope"></i>
        </span>
        <%= f.email_field :email, class: "form-control", placeholder: "Eメールアドレスを入力してください", disabled: (true if !@user.new_record?) %>
      </div>
      <%= render 'layouts/error_messages',class: "invalid-feedback", obj: @user, key: :email %>
    </div>

    <%#----- アカウント名 ------%>
    <div class="mb-3 <%= @user.errors.include?(:account_name) ? "validation_errors" : "" %>">
      <%= f.label "アカウント名変更", class: "form-label fw-bold"%>
      <div class="input-group shadow-sm rounded">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-at"></i>
        </span>
        <%= f.text_field :account_name, class: "form-control", placeholder: "アカウント名を入力してください" %>
      </div>
      <div id="emailHelp" class="form-text text-primary">※3文字以上のユニークなアカウント名(半角英数字)を入力してください</div>
      <%= render 'layouts/error_messages', obj: @user, key: :account_name %>
    </div>

    <%#----- パスワード ------%>
    <div class="mb-3 <%= @user.errors.include?(:password) ? "validation_errors" : "" %>">
      <%= f.label (@user.new_record? ? :password : "パスワード変更"), class: "form-label fw-bold"%>
      <div class="input-group shadow-sm rounded">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-key-fill"></i>
        </span>
        <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください" %>
      </div>
      <div id="emailHelp" class="form-text text-primary">※6文字以上の英数字を入力してください</div>
      <%= render 'layouts/error_messages', obj: @user, key: :password %>
    </div>

    <%#----- パスワード(確認用) ------%>
    <div class="mb-3 <%= @user.errors.include?(:password_confirmation) ? "validation_errors" : "" %>">
      <%= f.label :password_confirmation, class: "form-label fw-bold"%>
      <div class="input-group shadow-sm rounded">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-key-fill"></i>
        </span>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワードをもう一度入力してください" %>
      </div>
      <%= render 'layouts/error_messages', obj: @user, key: :password_confirmation %>
    </div>

    <%#----- 送信(更新)ボタン ------%>
    <%= f.submit class: "btn btn-primary mb-4" %>

    <%#----- アカウント削除ボタン(アカウント設定時) ------%>

    <hr class="mt-3">
    <a class="btn btn-danger mb-3" href="#" data-bs-toggle="modal" data-bs-target="#accountDeleteModal">アカウントを削除する</a>
    <%#= link_to "アカウントを削除する", user_path(@user),class: "btn btn-danger mb-3", data: { turbo_method: :delete} %>
  <% end %>
</div>


<!-- アカウント削除のモーダル表示 -->
<div class="modal fade" id="accountDeleteModal" tabindex="-1" aria-labelledby="accountDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountDeleteModalLabel">確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        このアカウントを本当に削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <%= button_to "削除", account_path(@user), class: "btn btn-danger", method: :delete %>
      </div>
    </div>
  </div>
</div>
